<p><%= @toy.name %></br>
<a href="<%=@toy.url%>"><%= @toy.url %></a></p>

<form action="/toys/<%=@toy.id%>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Toy">
</form>

<a href="/toys/<%=@toy.id%>/edit">Edit Toy </a>
