<div class="container">
  <% if flash.has?(:error) %>
    <%= flash[:error] %>
  <% end %>
  <h2> Everyone's favorite toys are here! </h2>
  <body>
    <br><br><br>
      <table style="width:100%">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Image</th>
            <th class="text-center">URL</th>
            <th class="text-center">Price</th>
          </tr>
        </thead>
        <tbody>
          <% for toy in @toys %>
          <tr>
            <td class="text-center"><a href="/toys/<%= toy.id%>"><%= toy.name %></a></td>
            <td class="text-center"><img style="width:100%;" class="img-responsive" src="<%= toy.image_url %>"/></td>
            <td class="text-center"><a href="<%= toy.url %>"><%= toy.url %></a></td>
            <td class="text-center">$<%= toy.price %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </body>
</div>