<h3>Welcome, <%=current_user.username%></h3>

<% @user.toys.each do |toy| %>
  <div>
    <a href="/toys/<%=toy.id%>"><%= toy.name %></a></br>
    <a href="<%=toy.url%>"><%= toy.url %></a>
  </div>
<% end %>

<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>URL</th>
    <th>Price</th>
  </tr>
  <tr>
    <td><img src="<%= @toy.image_url %>" alt="photo of toy" ></td>
    <td><%= @toy.name %></td>
    <td><%= @toy.url %></td>
    <td>$<%= @toy.price %></td>
  </tr>
</table>

</br></br>
<a href="/toys">Click here to view everyone else's favorite toy!</a></br>
<a href="/toys/new">Click here to add a new favorite toy!</a>
</br></br>
<a href="/logout"> Log Out </a>
