<h3>Welcome, <%=current_user.username%></h3>

<% @user.toys.each do |toy| %>
  <div>
    <a href="/toys/<%=toy.id%>"><%= toy.name %></a></br>
    <a href="<%=toy.url%>"><%= toy.url %></a>
  </div>
<% end %>

</br></br>
<a href="/toys">Click here to view everyone else's favorite toy!</a>
