<div class="container">
  <h3>Welcome, <%=current_user.username%></h3>

  </br>
  <a href="/toys">Click here to view everyone else's favorite toy!</a></br>
  <a href="/toys/new">Click here to add a new favorite toy!</a>
  </br></br>

  <table>

    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>URL</th>
      <th>Price</th>
    </tr>
    <% for toy in @user.toys %>
    <tr>
      <td><img src="<%= toy.image_url %>" alt="photo of toy" ></td>
      <td><%= toy.name %></td>
      <td><%= toy.url %></td>
      <td>$<%= toy.price %></td>
    </tr>
      <% end %>
  </table>
</div>